* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  color: #555555;
  background-color: #492b53;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: #9d219d;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 55px;
  background-color: #3f004b;
  padding: 0 15px;
}

header h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  height: 100%;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a i {
  font-size: 30px;
}

header a:hover, header a:active {
  color: #bbbbbb;
}

header .responsive-toggle {
  display: none;
}

aside {
  position: fixed;
  z-index: 999999;
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #1d0022;
  margin-top: 55px;
}

aside a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #d9ccdb;
  padding: 15px 15px;
  border-bottom: 1px solid #0c000e;
}

aside a i {
  padding-right: 15px;
}

aside a:hover {
  background-color: #0c000e;
}

main {
  padding: 30px;
  padding-left: 280px;
  padding-top: 85px;
}

main h2 {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #37213f;
}

main .content-block {
  background-color: #fff;
  margin-top: 25px;
  padding: 15px;
}

main .table {
  padding: 0 10px;
}

main .table table {
  width: 100%;
  border-collapse: collapse;
}

main .table table thead td {
  font-weight: 600;
  padding: 15px 0;
}

main .table table thead tr {
  border-bottom: 1px solid #4f2e5a;
}

main .table table tbody td {
  padding: 5px 0;
}

main .table table tbody .img {
  width: 50px;
}

main .table table .details {
  cursor: pointer;
}

main .table table .details:hover {
  background-color: #37213f;
}

main .table table .expanded-details {
  display: none;
  background-color: #5e376b;
}

main .table table .expanded-details td {
  padding: 15px;
}

main .table table .expanded-details td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

main .table table .expanded-details td > div div {
  width: 33.3%;
}

main .table table .expanded-details td > div div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

main .table table .expanded-details td > div div span:first-child {
  font-weight: 600;
  padding-top: 10px;
}

main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 500px;
  padding: 20px;
}

main .form input, main .form textarea, main .form select {
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 25px;
  border: 0;
  border-bottom: 1px solid #3a2242;
}

main .form input:hover, main .form input:active, main .form textarea:hover, main .form textarea:active, main .form select:hover, main .form select:active {
  border-bottom: 1px solid #0e0810;
}

main .form textarea {
  height: 200px;
}

main .form input[type="submit"] {
  background: #c72ac7;
  border: 0;
  color: #FFFFFF;
  width: 50%;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

main .form input[type="submit"]:hover {
  background: #b225b2;
}

main .form label {
  display: block;
  font-weight: 600;
}

main .form select {
  margin-bottom: 0;
}

main .form button {
  background-color: #492b53;
  color: #FFF;
  border: 0;
  padding: 5px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

main .form button:hover {
  background-color: #311d38;
}

main .form div {
  margin-bottom: 25px;
}

main .form .submit-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .form .submit-btns input:first-child {
  margin-right: 15px;
}

main .form .submit-btns .delete {
  background-color: #b22b2b;
}

main .form .submit-btns .delete:hover {
  background-color: #9d2626;
}

main .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 0 15px 15px 15px;
}

main .images div {
  position: relative;
  padding: 20px;
  border: 1px solid #3a2242;
  margin: 0 15px 15px 0;
}

main .images div:hover {
  border: 1px solid #1d1121;
}

main .images div a {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #3a2242;
}

main .images div a:hover {
  color: #1d1121;
}

main .images div span {
  width: 100%;
  font-size: 14px;
  word-wrap: break-word;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

main .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-top: 20px;
}

main .links a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  background: #c72ac7;
  color: #FFFFFF;
  padding: 12px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

main .links a:hover {
  background: #b225b2;
}

main .error {
  padding: 15px;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  header .responsive-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .responsive-hidden {
    display: none;
  }
  .responsive-width-100 {
    width: 100% !important;
  }
  .responsive-flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main {
    padding: 70px 7px 20px 7px;
  }
  main .expanded-details div {
    width: 100% !important;
  }
  main .content-block {
    padding: 5px;
  }
}
/*# sourceMappingURL=admin.css.map */